<h1><%=titleOfPaper%></h1>
<div class="spacer">
    <b>Status:</b>
    <span class="underline"><%=status%></span>
</div>
<div>
    <%=paper%>
</div>
<div class="spacer"></div>
<% if(locals.reviews ? true : false) { %>
<h5>Reviews</h5>
<div class="reviews-container">
    <% const reviews = locals.reviews ? locals.reviews : [] %>
    <% var noOfChar = 200; %>
    <% reviews.forEach(review => { %>
        <% var message = review.reviews %>
        <% var m1 = message.substring(0, noOfChar); %>
        <% var m2 = message.substring(noOfChar); %>
        <div class="reviews-wrapper">
            <div class="reviews">
                <span>
                    <span><%=m1%></span>
                    <%if (m2) {%>
                    <span class="more"><%=m2%></span>
                    <span class="dots">...</span>
                    <a href="#" class="read-more">Read More</a>
                    <% } %>
                </span>
                <div class="comment-ratings">
                    <%= review.ratings %> <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <% if(review.subreviews > 0) { %>
            <div class="sub-reviews">
                <button id="show-reviews"> 
                    <i class="fa-solid fa-caret-down"></i>
                    <span>Show all comments</span>
                </button>
            </div>
            <% } %>
        </div>
    <% }) %>
</div>
<% } %>