<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <h1>
        <%=title%>
      </h1>
      <form method="post">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name" value="<%=name%>">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email"
            value="<%=email%>">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter password"
            value="<%=password%>">
        </div>
        <div class="form-group">
          <label for="inputCfmPassword">Confirm Password</label>
          <input type="password" name="cfmPassword" class="form-control" id="inputCfmPassword"
            placeholder="Enter confirm password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </form>
    </div>
    <script></script>
  </body>

  </html>