<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/reviewer">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%=title%></li>
        </ol>
      </nav>
      <h1>
        <%=title%>
      </h1>
      <form method="post">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Enter title"
            value="<%=titleOfPaper%>">
        </div>
        <div class="form-group">
          <label for="inputPaper">Paper Details:</label>
          <textarea name="paper" class="form-control" id="inputPaper" rows="10"><%=paper%></textarea>
        </div>
        <div class="form-group">
          <label class="form-label">Co-Authors (Hold Crtl To Select Multiple) </label>
          <select name="coauthors" class="form-select form-control" multiple size="5">
            <% for(let [idx, obj] of data.entries()) { %>
              <option value="<%=obj.user_id%>"><%=obj.name%> - <%=obj.user_id%></option>
            <% } %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </form>
    </div>
    <script></script>
  </body>

  </html>